.percent-without-symbol:after{
	content: '' !important;
}
.project-description,.project-description > div.card-body,.project-description:link,.project-description:active,.project-description:visited{
	text-decoration: none;
	color: #5e5e5e;
}